---
version: 1
disable_existing_loggers: False
formatters:
    console:
        format: "%(asctime)s-[%(levelname)s]-(%(module)s:%(funcName)s:%(lineno)d)--%(message)s"
    syslog:
        format: "compton[%(process)d]: (%(module)s)--%(message)s"

handlers:
    console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: syslog
        stream: ext://sys.stdout

loggers:
    apiclient:
        level: ERROR
        handlers: [console]
    httplib2:
            level: ERROR
            handlers: [console]
    oauth2client:
            level: ERROR
            handlers: [console]

root:
    level: DEBUG
    handlers: [console]
...