---
version: 1
disable_existing_loggers: False
formatters:
    console:
        format: "%(asctime)s-[%(levelname)s]-(%(module)s:%(funcName)s:%(lineno)d)--%(message)s"
    syslog:
        format: "compton[%(process)d]: (%(module)s)--%(message)s"

handlers:
    console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: syslog
        stream: ext://sys.stdout

    syslog:
        class: logging.handlers.SysLogHandler
        level: INFO
        formatter: syslog
        facility: local0
        address: "/dev/log"

loggers:
    apiclient:
        level: ERROR
        handlers: [console, syslog]
    httplib2:
            level: ERROR
            handlers: [console, syslog]
    oauth2client:
            level: ERROR
            handlers: [console, syslog]

root:
    level: INFO
    handlers: [console, syslog]
...