<h2>Shuffle Lunch!!!</h2>
<div>
  You all are on a shuffle lunch team together!
  Feel free to reply all to select a place.
  Have fun!
</div>
<br/>
<div>
  <ul>
  {{#recipients}}
  <li style="display: inline;"><img src="{{gravatar_link}}"/> {{email}}</li>
  <!--<br/>-->
  </ul>
  {{/recipients}}
</div>


<!--TODO: Have an unsubscribe function that points to the calendar event-->
