<h2>Shuffle Coffee!!!</h2>
<div>
  You all are on a shuffle coffee team together!
  Please email each other to select a time and place to meet sometime this week.
  Have fun!
</div>
<br/>
<div>
  {{#recipients}}
  <img src="{{gravatar_link}}"/> {{email}}
  <br/>

  {{/recipients}}
</div>
